<nav id="sidenav">
    <a class="button back" style="background-color: {{.Params.buttonColor}}" href="/"><img src="/img/arrow.png"></a>
    <div class="tab">Tutorials</div>
    {{$topic := index (findRE "[^/]+" .RelPermalink) 0}}
    <ul class="tutorials">
        {{ range .Site.Menus.tutorials }}
        {{- range .Children -}}
        {{- if eq .Parent $topic -}}
        <li>
            <a href="{{.URL}}">{{ .Name }}</a>
        </li>
        {{- end -}}
        {{- end -}}
        {{ end }}
    </ul>
    <div class="tab">Reference</div>
    <ul class="reference">
        {{ range .Site.Menus.reference }}
        
        {{- range .Children -}}
        {{- if eq .Parent $topic -}}
        <li>
            <a href="{{.URL}}">{{ .Name }}</a>
        </li>
        {{- end -}}
        {{- end -}}
        {{ end }}
    </ul>
</nav>