@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* Managing the break-points of the page based on the window's width */

html {
	font-size: 21px;
}
@media (max-width: 700px) {
	html {
		font-size: 12px;
	}
}

body {
	display: flex;
}
@media (max-width: 1199px) {
	body {
		display: block;
	}
}

main {
	flex: 0 1 auto;
	margin: 80px 0 0 10%;
	width: 55%;
}
@media (max-width: 1199px) {
	main {
		margin: 80px auto 0 auto;
		position: relative;
		width: 100%;
		padding: 8px;
	}
}

#sidenav {
	z-index: 3;
	left: 0;
	top: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}
@media (max-width: 1199px) {
	#sidenav {
		height: 100vh;
		left: -430px;
		position: fixed;
		background: #EEE;
		z-index: 1;
		overflow-y: scroll;
	}
}

.sidetoggle {
	display: none;
}
@media (max-width: 1199px) {
	.sidetoggle {
		display: block;
		z-index: 1;
	}
}

/* height: 100vh is to ensure that if there is too little content filling up the page, you won't look at a webpage that doesn't take the full height of the window */
html {
	height: 100vh;
	box-sizing: border-box;
}
*, ::after, ::before {
	box-sizing: inherit;
}

body {
	background: #eee;
	overflow-x: hidden;
	font-family: "Raleway";
}

h1 {
	font-size: 5rem;
	text-align: right;
	color: #ddd;
	margin: calc(3vw - 20px) 0 70px 0;
	text-shadow: 2px 2px 2px #222;
	transform: rotateZ(4deg);
	font-family: inherit;
	font-weight: 300;
}

h2 {
	font-size: 2rem;
	color: #5078ba;
	margin: 30px 20px;
	font-family: inherit;
}
p {
	color: #444;
	margin: 20px 0;
	line-height: 1.3rem;
	font-family: Arial;
}
table {
	border-collapse: collapse;
	font-family: "Trebuchet MS";
	font-size: 0.8rem;
}
	thead {
		background: #ccc;
	}
	td, th {
		padding: 14px 4px;
		border-bottom: 2px solid #888;
	}

	header {
		position: absolute;
		top: calc(4vw - 230px);
		background-color: #1f71f4;
		transform: rotateZ(4deg);
		width: 130vw;
		height: 400px;
		z-index: -1;
	}

	.sidetoggle {
		position: fixed;
		top: 3px;
		right: 3px;
		font-size: 4rem;
		line-height: 70px;
		padding: 0 10px;
		background: #ddd;
	}

	#sidenav {
		color: #092c63;
		padding-top: 30px;
		width: 320px;
		font-family: inherit;
	}
		.button {
			position: relative;
			border-radius: 14px;
			box-shadow: 3px 3px 0px 2px #333;
			background: #4f92ff;
			margin-bottom: 100px;
			margin-left: 30px;
			text-align: center;
		}
		.back {
			width: 100px;
			height: 100px;

		}
		.next {
			font-size: 1.5rem;
			padding: 5px;
		}
		.next img {
			height: 30px;
			transform: rotateZ(180deg);
		}
		.tab {
			border-bottom: 2px solid #092c63;
			width: 6.5em;
			margin: 40px 0 0 30px;
			font-size: 1.5rem;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		#sidenav ul {
			padding: 40px 40px;
			line-height: 1.5rem;
		}
			#sidenav ul li a {
				color: inherit;
			}
				li a:not(:first-child) {
					font-size: 0.8rem;
					margin-left: 20px;
					display: block;
				}

		main img {
			max-width: 80%;
			margin: auto;
		}
		code {
			font-size: 0.8rem;
			font-family: "courier new";
			color: rgb(160,160,240);
			background: #323232;
		}
		.quiz {
			display: block;
			max-width: inherit;
			margin: auto;
			background: #fff;
			border-top: lime;
		}
			.question {
				background: #B26B31;
			}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
