.quiz {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 300px 60px;
  grid-template-areas:"header header header"
                      "alternatives explanation explanation"
                      "submit progress progress";
  position: relative;
  max-width: 900px;
  background: linear-gradient(to right, #a3f0f9 13%,#85d1e8 52%,#50dad3 100%);
  border-top: lime;
  box-shadow:	0 0 12px 3px rgba(0,0,0,0.5);
  margin: auto;
}
  .header-wrapper {
    grid-area: header;
    

  }
  .quiz-title {
    margin-left: 40px;
    letter-spacing: 4px;
    font-size: 40px;
    line-height: 100px;
    color: darkred;
    text-shadow: 0px 2px 0 rgba(150, 150, 150, 1), 0px 3px 6px rgba(30, 30, 30, 0.6);
  }
  .question {
    grid-area: alternatives;
  }
  .left-wrapper {
    grid-area: alternatives;
    padding: 4px;
  }
  .submit {
    grid-area: submit;
    border-radius: 10px;
    width: 50%;
    height: 35px;
    background: green;
    text-align: center;
    line-height: 35px;
    justify-self: center;
    align-self: center;
  }
  .explanation {
    grid-area: explanation;
    height: 300px;
  }
  .explanation pre code {
    height: 300px;
    overflow-y: scroll;
  }
  .progress-wrapper {
    grid-area: progress;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 90px;
    height: 45px;
    margin-top: auto;
    background: #1498b9
  }
  .text {
    margin-left: 30px;
    margin-right: 10px;
    line-height: 40px;
    flex: 0 1 80px;
  }
  .progress {
    flex: 0 1 auto;
    white-space: nowrap;
    overflow-y: hidden;
  }
  .dot {
    display: inline-block;
    border-radius: 10px;
    margin: 10px 5px;
    width: 20px;
    height: 20px;
    background: #323232;
    flex: 0 1 auto;
  }

  .dot-active {
    border: 2px yellow solid;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #F87DA9;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }