extends layout

block content
  h1 Introduction
  h2 About the course
  p I welcome you to my tutorial series for all wiremod related. Here we will be exploring Expression 2 in all its glory.
  pre
    code.
      @name Codelock
      @inputs 
      @outputs 
      @persist A:array Code:array Guess:array N R
      @trigger 
      @autoupdate
      runOnChat(1)
      Said = owner():lastSaid()

      for(I = 0, Said:length()){
          N = 4
          R = 10

          Eq = (N + R - 1) / (R - 1)
          
        A:pushNumber(Said:sub(I,I):toNumber())
      }

      Code = array(1,0,0,0)
      Guess = array(1,2,3,4)

      foreach(K,V:number = Code){
          print(K + "<- Key Value ->" + V)
      }
    h2 About the presenter
    p I am Revolution, insert rest of introduction here
    h2 Credits
    p Upcomging list of shoutouts
    img(src='images/editor.png')