doctype html
html
  head
    title Revolution Teaches - Wiremod for all
    link(href="https://fonts.googleapis.com/css?family=Kumar+One")
    link(href="https://fonts.googleapis.com/css?family=Slabo+27px")
    link(href="https://fonts.googleapis.com/css?family=Varela+Round")
    link(rel="stylesheet" href="stylesheets/reset.css")
    link(rel="stylesheet" href="stylesheets/main.css")
    link(rel="stylesheet" href="stylesheets/default.css")
    script(src="javascripts/highlight.pack.js")
    script(src="javascripts/main.js")
  body
    #grid
      #topnav
        ul
          li.e2: a(href="#") Expression2
          li.starfall: a(href="#") Starfall
          li.zcpu: a(href="#") CPU
          li.gpu: a(href="#") GPU
          li.spu: a(href="#") SPU
          li.general: a(href="#") General
          li.gates: a(href="#") Gates
      #sidenav
        ul
          li
            a(href='#') Introduction
            a(href='#') About the course
            a(href='#') About the presenter
            a(href='#') Credits
          li
            a(href='#') The editor
            a(href='#') Buttons
            a(href='#') Configuring colors
          li
            a(href='') Hello World
            a(href='') Arithmetics
            a(href='') Our first function
            a(href='') Input and output
          li
            a(href='') More types
            a(href='') string and number methods
          li
            a(href='') Inputs and outputs
            a(href='') Creating I/O
            a(href='') subtopic of e2
          li
            a(href='') Project: RNG
            a(href='') Setting static numbers
            a(href='') Number randomizer
            a(href='') Interval
            a(href='') subtopic of e2
          li
            a(href='') topic of e2
            a(href='') subtopic of e2
            a(href='') subtopic of e2
            a(href='') subtopic of e2
          li
            a(href='') Reference

      main
        #content
          block content