<section class="quiz">
  <section class="header-wrapper">
      <h3 class="quiz-title">This section's quiz</h3>
  </section>
  <section class="left-wrapper">
    <div class="question">Insert a question here, preferrably with an answer</div>
    <p>
      <input type="radio" name="radio-group" id="q2">
      <label for="asd"><code class="hljs-inline">@persist A</code></label>
    </p>
    <p>
      <input type="radio" name="radio-group" class="answer">
      <label for="q2">Option 2</label>
    </p>
    <p>
      <input type="radio" name="radio-group" id="q3">
      <label for="q3">Option 3</label>
    </p>
    <p>
      <input type="radio" name="radio-group" id="q4">
      <label for="q4">Option 4</label>
    </p>
  </section>
  <div class="submit">Submit</div>
  <div class="explanation">
      <pre><code>@name Hello World
@inputs A B
@outputs Add Sub Mul Div
@outputs GreaterThan Highest Lowest Additive Subtractive
@outputs Vector:vector
@persist D
@trigger all

Add = A + B
Sub = A - B
Mul = A * B
Div = A / B

GreaterThan = A > B

if(A > B) {
  Highest = A, Lowest = B
} else {
  Highest = B, Lowest = A
}

Vector = vec(A, B, 0)
Vector = Vector + vec(0, 0, A + B)
Vector = Vector:normalized()</code></pre>
  </div>
  <div class="progress-wrapper">
    <div class="text">Progress</div>
    <div class="progress">
      <div class="dot dot-active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</section>