/*
 * Would love to use Sass, but you can't
 * use grid with sass as of 9th of June 2017
 * because of namespace collision, specifically
 * "area" for use in grid-template-area
*/


/* Change grid size and font size */
@media (max-width: 1499px) {
	html {
		--main-width: 7fr;
		/* Rest is the remaining space to the right of the main area */
		--rest: 0fr;
	}
}
@media (min-width: 1500px) {
	html {
		font-size: 20px;
		--main-width: 6fr;
		--rest: 1fr;
	}
}
@media (min-width: 1800px) {
	html {
		font-size: 22px;
	}
}





body {
	color: #ddd;
	background-color: #5AE;
}
h1 {
	font-size: 4em;
	color: #097054;
	margin: 30px 50px;
	font-family: 'Varela Round', sans-serif;
}
h2 {
	font-size: 1.5em;
	color: #097054;
	margin: 30px 20px;
	font-family: 'Varela Round', sans-serif;
}
a {
	color: #eee;
	/*Line height to position the anchor tags in the top nav*/
	line-height: var(--nav-height);
}
p {
	color: black;
	margin: 20px 0;
}

/* For use in the sidenav */
li a ~ a {
	font-size: 0.8em;
	margin-left: 20px;
	display: block;
}

#grid {
	/* Change this value to change the top navigation's height */
	--nav-height: 40px;

	display: grid;
	grid-template-rows: 40px 2fr;
	grid-template-columns: 320px var(--main-width) var(--rest);
	grid-column-gap: 70px;
	grid-template-areas: "header header header"
						 "sidenav main .";
}
	#topnav {
		height: 40px;
		grid-area: header;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		/*z-index 1 to display the box-shadow correctly*/
		z-index: 1;
	}
		#topnav ul {
			height: 100%;
			display: flex;
			overflow: hidden;
			/*Height manipulation*/
			-webkit-transition: var(--nav-height) 0.2s ease-out;
			-webkit-transition-duration: 0.2s;
		}
		#topnav ul:hover {
			--nav-height: 90px;
		}
			#topnav ul li {
				flex: 1 1 0;
				height: 100%;
				overflow: hidden;
			}
			#topnav ul li a {
				font-family: 'Kumar One', cursive;
				text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
				line-height: 140px;
				padding: 5.5vh 100% 1vh 1vw;
			}
				.e2 {
					background-color: darkred;
				}
				.starfall {
					background-color: rebeccapurple;
				}
				.zcpu {
					background-color: black;
				}
				.spu {
					background-color: #FFA455;
				}
				.gpu {
					background-color: #33AA33;
				}
				.topic {
					background-color: skyblue;
				}
				.topic2 {
					background-color: royalblue;
				}
				img {
					height: 100%;
				}
	#sidenav {
		grid-area: sidenav;
		overflow-y: scroll;
		max-height: calc(100vh - var(--nav-height));
		box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 7px 6px rgba(0,0,0,0.23);
		background: url("https://image.freepik.com/free-vector/abstract-geometric-background-in-orange-and-yellow-tones_1095-34.jpg") no-repeat;
		background-size: cover; 
		color: black;
		font-family: 'Slabo 27px', serif;
	}
		#sidenav ul {
			padding: 100px 50px;
		}
			#sidenav ul li {

			}
	main {
		grid-area: main;
		overflow-y: scroll;
		max-height: calc(100vh - var(--nav-height));
		box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 7px 6px rgba(0,0,0,0.23);
		background-color: #eee;
	}
		#content {
			margin: 100px 40px;
		}
			#content img {
				width: 70%;
				margin: auto;
				position: relative;
			}
			pre code {
				font-size: 0.8em;
			}


::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: #f0f2d0;
  border: 4px outset #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e4e7a3;
}
::-webkit-scrollbar-thumb:active {
  background: #cef1c5;
}
::-webkit-scrollbar-track {
  background: #80714d;
  border: 0px solid #ffffff;
  border-radius: 39px;
}
::-webkit-scrollbar-track:hover {
  background: #6f725a;
}
::-webkit-scrollbar-track:active {
  background: #385313;
}
::-webkit-scrollbar-corner {
  background: transparent;
}