.main-header {
  min-height: 120px;
  padding-left: 300px;
}

.top-nav {
  height: 120px;
}

.page-title {
  font-size: 60px;
}

@media screen and (max-width: 992px) {
  .main-header {
    padding-left: 0px;
  }
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
  padding-left: 32px !important;
}

.collapsible-body li > a {
  padding-left: 40px !important;
  font-weight: normal !important;
}

.section-topic {
  margin-top: 300px;
}

main {
  padding-left: 300px;
}

@media screen and (max-width: 992px) {
  main {
    padding-left: 0px !important;
  }
}

.card-content {
  padding: 12px !important;
}

pre {
  margin: 0 !important;
}

.indicator-item {
  background: rgb(255, 0, 0, 0.5) !important;
}
.indicator-item.active {
  background: rgb(255, 0, 0, 1) !important;
}

.overflow-fix {
  overflow: scroll;
  max-height: 250px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}
::-webkit-scrollbar-thumb:active {
  background: #d0d0d0;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
