/*
	This is the syntax highlighting stylesheet.
	You don't need to edit this file other than the ::selection background color,
	if you find a better color. ::selection is the area you click, hold and drag
	your mouse to get that blue background color of the selected text.
*/

::selection {
  background-color: rgba(79, 146, 255, 0.3);
}

.hljs {
  color: rgb(160, 160, 240);
  /* background-color: #212121; */
  @apply bg-darkgray
}

.hljs-inline {
  color: rgb(160, 160, 240);
  /* display: inline-block;
  background-color: #212121;
  padding: 0 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px; */

  @apply inline-block bg-darkgray shadow-md px-2 rounded-md;
}

.hljs-ppcommand {
  color: rgb(240, 96, 240);
}

.hljs-constant {
  color: rgb(240, 160, 240);
}

.hljs-directive {
  color: rgb(240, 240, 160);
}

.hljs-comment {
  color: rgb(128, 128, 128);
}

.hljs-keyword {
  color: rgb(160, 240, 240);
}

.hljs-variable {
  color: rgb(160, 240, 160);
}

.hljs-string {
  color: rgb(128, 128, 128);
}

.hljs-number {
  color: rgb(240, 160, 160);
}

.hljs-type {
  color: rgb(240, 160, 96);
}

.hljs-operator {
  color: rgb(255, 255, 255);
}

.hljs-symbol {
  color: #fff;
}

/*.hljs-function {
	color: rgb(160,160,240);
}*/