/*
	This is the syntax highlighting stylesheet.
	You don't need to edit this file other than the ::selection background color,
	if you find a better color. ::selection is the area you click, hold and drag
	your mouse to get that blue background color of the selected text.
*/



/* .hljs {
  @apply bg-darkgray rounded-md text-base p-1;
} */

.hljs-ppcommand {
  color: rgb(240, 96, 240);
}

.hljs-constant {
  color: rgb(240, 160, 240);
}

.hljs-directive {
  color: rgb(240, 240, 160);
}

.hljs-udf {
  color: rgb(102, 122, 102)
}

.hljs-comment {
  color: rgb(128, 128, 128);
}

.hljs-keyword {
  color: rgb(160, 240, 240);
}

.hljs-variable {
  color: rgb(160, 240, 160);
}

.hljs-string {
  color: rgb(128, 128, 128);
}

.hljs-number {
  color: rgb(240, 160, 160);
}

.hljs-type {
  color: rgb(240, 160, 96);
}

.hljs-function {
	color: rgb(160, 160, 240);
}