html {
  scroll-behavior: smooth;
  font-family: "Germano";
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2 {
  font-family: "Intro Black";
}

h1 {
  @apply text-3xl;
}

p {
  @apply text-xl mb-4;
}

p > a {
  @apply text-yellow-400;
}

.navlink {
  @apply pl-2 border-l-2 border-gray-100;
}

.active {
  @apply border-blue-600;
}

section {
  @apply grid grid-cols-1 xl:grid-cols-section gap-4 my-10;
}

section > div > img {
  @apply shadow-md rounded-md;
}

p > code,
pre {
  @apply bg-darkgray shadow-md rounded-md text-base p-1;
}

pre {
  @apply relative mb-4
}

pre > span {
  @apply absolute top-2 right-2 text-2xl
}

::selection {
  @apply bg-gray-400;
}