html {
  scroll-behavior: smooth;
  font-family: "Germano";
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2 {
  font-family: "Intro Black";
}

h1 {
  @apply text-3xl;
}

p {
  font-size: 21px;
}

p > a {
  @apply text-yellow-400;
}

.navlink {
  @apply pl-2 border-l-2 border-gray-100;
}

.active {
  @apply border-blue-600 !important;
}

.codeblock {
  @apply self-start shadow-lg p-3 text-sm w-3/5 rounded-md top-5 sticky hljs;
}

#navMain::-webkit-scrollbar {
  width: 0;
}